@charset "utf-8";
/*清除样式*/
body,div,ul,li,h3{
    padding: 0;
    margin: 0;
}
ul{list-style: none;}
.tt{
    width: 350px;
}
.tt h3{
    float:left;
    height: 100px;
    line-height: 80px;
    text-indent: 2em;
    font-family: "微软雅黑";
    width: 350px;
}
.safe{
    display: inline-block;
    font-size: 14px;
    margin: 50px 50px 490px 10px;
}
.tt ul li {
    margin: 0px 0px 0px 0px;
    text-indent: 2em; /*缩进*/
    background-color: aquamarine;
}
.tt ul li span {
    float: left;
}
.tt ul li a:hover{
    text-decoration: underline;
    color: red;
}
.tt li a:link,a:visited{
    text-decoration: none;
    color: black;
}
.safeb {
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
    background-color: aquamarine;
}
.ttb {
    width: 350px;
}
.ttb h3{
    
    line-height: 80px;
    text-indent: 2em;
    font-family: "微软雅黑";
    
}
.ttb ul li {
    margin: 45px 0px;
    text-indent: 2em; /*缩进*/
}
.ttb ul li span {
    float: left;
}
.ttb ul li a:hover{
    text-decoration: underline;
    color: red;
}
.ttb li a:link,a:visited{
    text-decoration: none;
    color: black;
}